@model IEnumerable<OsepMVC.Models.EventParticipation>

@{
    ViewData["Title"] = "Katıldığım Etkinlikler";
}

<h1>Katıldığım Etkinlikler</h1>

<table class="table">
    <thead>
        <tr>
            <th>Başlık</th>
            <th>Tarih</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Event.Title</td>
                <td>@item.Event.Date</td>
                <td>
                    <a asp-action="Details" asp-controller="Event" asp-route-id="@item.EventId" class="btn btn-info">Detaylar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
